extends layout

block content  
  include nav.pug
  div.container
    div.col-md-5.col-md-offset-3.card.mt-5
      div.card-body
        form(action='/metrics', method="post")
          .form-group
            label Timestamp
            input.form-control#date(type="text" name="timestamp" required)
          .form-group
            label Value
            input.form-control#value(type='text', name="value" pattern="^[0-9]{1,}" required)
          button#add-metric(type="submit" class="btn btn-warning") Add the metrics

  script
    :coffee-script
      $('#date').datepicker({
        format: "yyyy-mm-dd"
      })
