doctype html
html(lang='en')
  head
    title My Web Page
    script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
    script(type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8")
    script(type="text/javascript" src="/js/bootstrap-datepicker.min.js" charset="utf-8")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker3.standalone.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    block content