extends layout

block content
  link(rel='stylesheet', href='/css/home_connection.css')
  div.container
    div.row.justify-content-center.mt-5
      div.col-xs-6.card#connection
        div.card-body
          #form
            h3.text-center Login
            form#login(action='/login', method="post")
              .form-group
                label Username
                input.form-control(type='text', name="username")
              .form-group
                label Password
                input.form-control(type='password', name="password")
              button#login_submit.btn.btn-primary.btn-block(type='submit')
                i.icon-ok.icon-white
                |  Connect
              hr
              a.btn.btn-success.btn-block(role='button', href='/signup') Create an account
