block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Final Project 
    div.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/")
            | Add Metrics 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href="/seeMetrics")
            | See Metrics 
            span.sr-only (current)
      ul.navbar-nav.mr-0
        li
            a.btn.btn-danger(role='button' href='/logout')
              | Logout
