extends layout

block content  
  include nav.pug

  script(src="https://d3js.org/d3.v4.min.js")

  script 
    :coffee-script

      hide = false

      # set the dimensions and margins of the graph
      margin = 
        top: 20
        right: 20
        bottom: 30
        left: 50
      width = 960 - (margin.left) - (margin.right)
      height = 500 - (margin.top) - (margin.bottom)
      # parse the date / time
      parseTime = d3.timeParse "%Y-%m-%d"  
      # set the ranges
      x = d3.scaleTime().range([
        0
        width
      ])
      y = d3.scaleLinear().range([
        height
        0
      ])
      # define the line
      valueline = d3.line().x((d) ->
        x d.date
      ).y((d) ->
        y d.value
      )
      # append the svg obgect to the body of the page
      # appends a 'group' element to 'svg'
      # moves the 'group' element to the top left margin
      svg = d3.select('body').append('svg').attr('width', width + margin.left + margin.right).attr('height', height + margin.top + margin.bottom).append('g').attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')

      showMetrics = (data) ->
        #console.log('show metrics')
        #console.log(data)
        d3.json "/metricsByUser", (error, data) -> 
          data.forEach (d) ->
              d.date = parseTime d.key.split(":")[2]
              d.value = +d.value
          # Scale the range of the data
          x.domain d3.extent(data, (d) ->
            d.date
          )
          y.domain [
            0
            d3.max(data, (d) ->
              d.value
            )
          ]
          # Add the valueline path.
          svg.append('path').data([ data ]).attr('class', 'line').attr 'd', valueline
          # Add the X Axis
          svg.append('g').attr('transform', 'translate(0,' + height + ')').call d3.axisBottom(x)
          # Add the Y Axis
          svg.append('g').call d3.axisLeft(y)

      $.getJSON "/metricsByUser", {}, (data) ->
        showMetrics(data)

