body {
  background: url("../image/home_pic.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

#connection {
  background-color: rgba(255, 255, 255, 0.4); }
