
<nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a class="navbar-brand" href="#">Navbar</a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>  
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>      
      <li class="nav-item"><a class="nav-link" href="#">Features</a></li>      
      <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>      
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
    </ul>    
    <form class="form-inline my-2 my-lg-0"><a class="my-2 my-sm-0" href="/logout">Logout</a></form>
  </div>
</nav>